<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--应用名称-->
    <!--<property name="SPRING_ACTION" value="I:/Logger/SpringAction"/>-->
    <property name="SPRING_ACTION" value="logger"/>
    <!--日志文件的保存路径,首先查找系统属性-Dlog.dir,如果存在就使用其；否则，在当前目录下创建名为logs目录做日志存放的目录 -->
    <property name="LOG_HOME" value="${log.dir:-logs}/${SPRING_ACTION}"/>
    <!-- 日志输出格式 -->
    <property name="LOG_OUTPUT_FORMAT"
              value="[%thread] %d{yyyy-MM-dd HH:mm:ss}-[%p]卍%class{0}:%line㊣☎%m%n"/>
    <contentName>${SPRING_ACTION}</contentName>

    <!-- 控制台日志：输出全部日志到控制台 -->
    <appender name="LOGOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>${LOG_OUTPUT_FORMAT}</Pattern>
        </encoder>
    </appender>

    <!-- 文件日志：输出全部日志到文件 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${SPRING_ACTION}/output.%d{yyyy-MM-dd}.log</fileNamePattern>
            <mixHistory>7</mixHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>${LOG_OUTPUT_FORMAT}</Pattern>
        </encoder>
    </appender>

    <!-- 错误日志：用于将错误日志输出到独立文件 -->
    <appender name="ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${SPRING_ACTION}/error.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- 如果按天来回滚, 15天 -->
            <mixHistory>7</mixHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>${LOG_OUTPUT_FORMAT}</Pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>

    <!-- 独立输出的同步日志 -->
    <appender name="SYNC_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${SPRING_ACTION}/sync.%d{yyyy-MM-dd}.log</fileNamePattern>
            <mixHistory>7</mixHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>${LOG_OUTPUT_FORMAT}</Pattern>
        </encoder>
    </appender>

    <logger name="SYNC" level="DEBUG" addtivty="true">
        <appender-ref ref="SYNC_FILE"/>
    </logger>

    <root>
        <level>DEBUG</level>
        <appender-ref ref="LOGOUT"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="ERROR_FILE"/>
    </root>
</configuration>